<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>
    <table>
  <tr>
    <th>Name</th><th>Skill</th><th>Years</th><th>Formal?</th>
  </tr>
  <tr class="new-user">
    <td>Amanda Huggenkyss</td><td>Ruby (technical)</td><td>1</td><td>yes</td>
  </tr>
  <tr>
    <td></td><td>JavaScript (technical)</td><td>2</td><td>yes</td>
  </tr>
  <tr class="new-user">
    <td>Ben Dover</td><td>Illustrator (creative)</td><td>5</td><td>no</td>
  </tr>
  <tr>
    <td></td><td>CSS (technical)</td><td>3</td><td>no</td>
  </tr>
</table>  

</div>
